// Menu Button Styles
.menu-btn{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    // style the lines
    .btn-line{
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($primary-color);
        @include easeOut;
    }

    // Rotate Menu Button for effect of 'X'
    &.close{
        display:block; // I added this in order for the menu to rotate
        transform: rotate(180deg);

        // Now work on individual line to make the 'X'
        .btn-line{
            // Line 1 - Rotate
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
            }
            // Line 2 - hide
            &:nth-child(2){
                opacity: 0;
            }
            // Line 3 - Rotate
            &:nth-child(3){
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// Menu Overlay
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9; // This makes the menu overlay transparent, 
    visibility: hidden;

    // Javascript add class show, make this visabile
    &.show{
        visibility: visible;
    }
}
// 2 sides of the menu, Initial settings for both
.menu-branding, .menu-nav{
    display: flex; // use the flex properties
    flex-flow: column wrap; // Each is a column
    align-items: center; // the items will be centerd
    justify-content: center; // the text will be justified, spread out.
    float: left;
    width: 50%; // each item takes up 50% of each side
    height: 100vh; // takes up all viewport height
    overflow: hidden; // Prevent scroll bars
}

// Work on Nav side of the menu
.menu-nav{
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    // When the show class is active
    &.show{
        // Slide in from top
        transform: translate3d(0, 0, 0);
    }
}

// Working on the profile picture side
.menu-branding{
    background: $primary-color;
    transform: translate3d(0, 100%, 0); // change from -100
    @include easeOut;

    // When the show class is active
    &.show{
        // Slide in from bottom
        transform: translate3d(0, 0, 0);
    }

    // Include the portrait for profile
    .portrait{
        width: 250px;
        height: 250px;
        background: $portrait-img;
        border-radius: 50%; // makes circle
        border: solid 3px $secondary-color; 
    }
}

// Make the nav items apprear after show class has been added
.nav-item{
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    // slide the text from right
    &.show{
        // this moves text from outside right to inside
        transform: translate3d(0, 0, 0);
        //we use forloop to help show a delay effect : bottom code
    }

    // current page
    &.current > a{
        color: $secondary-color;
    }
}

// Links styles 
.nav-link{
    display: inline-block;
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem, 0;
    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut;

    // Create hover effect on the links
    &:hover{
        color: $secondary-color;
    }

}

// this code is for the .nav-item .show
@for $x from 1 through 4{
    .nav-item:nth-child(#{$x}){
        transition-delay: $x * 0.1s;
    }
}