// NOTE: try to start from middle where it combines styles from both bigger screen sizes and smaller screen sizes

// Widescreens
@include mediaXl{
    .projects{
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops and Laptops
@include mediaLg{
    .projects{
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets and/or Small Laptops
@include mediaMd{
    main{ 
        //center the content
        align-items: center;
        text-align: center;

        // Config My home page name
        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
    // style the branding and menu navs
    ul.menu-nav,div.menu-branding{
        float: none; // This will take away the verticle and make it hoizontal
        width: 100%;
        min-height: 0;

        // Change direction of menu
        &.show{
            transform: translate3d(0, 0, 0);
        }
    }

    ul.menu-nav{
        height: 75vh; // Menu will take 75 of space, 25 branding
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }
    div.menu-branding{
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait{
            background: $portrait-sm-img;
            width: 150px;
            height: 150px;
        }
    }    

    // About Page
    .about-info{
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }

    // Work Page
    .projects{
        grid-template-columns: repeat(2, 1fr);
    }
}

// Mobile
@include mediaSm{
    main{
        min-height: calc(100vh - 450px);
    }
    main#home h1{ 
        margin-top: 30vh;
    }

    // Work Page
    .projects{
        grid-template-columns: 1fr;
    }

    // Contact Page
    #contact{
        h1.lg-heading{
            font-size: 4rem;
            margin-top: 10vh;
        }
    }

    // icons
    footer#main-footer{
        height: 450px;
        // padding-top: 50px;
        div.icons a{
            display: block;
            width: 100%;
            padding: 2rem 0;
            border-bottom: 2px $secondary-color solid;
        }
        i.fab{
            // display:block;
            font-size: 4rem;
        }
        div#copyright{
            position: relative;
            display:block;
            margin-top: 12px;
        }
    }
    }


    @include mediaXs{
        #bg-img-contact,#bg-img-about,#bg-img-work{
            div.menu-btn{
                margin-top: -16vh;
            }
        }

        main{
            min-height: calc(100vh - 450px);
            height: 100%;
            margin: 0;
            padding: 0;

            div.icons{
                visibility: hidden;
            }
        }
        main#home h1{ 
            margin-top: 15vh;
        }
    
        // Work Page
        .projects{
            grid-template-columns: 1fr;
        }
    
        // Contact Page

        #bg-img-contact{
            div.menu-btn{
                margin-top: -16vh;
            }
        }
        #contact{
            h1.lg-heading{
                font-size: 3rem;
                margin-top: 15vh;
            }

            .boxes{
            
                div{
                    font-size: 1rem;
                    border: 1px #fff solid;
                    padding: 0.5rem 0.9rem;
                    margin-bottom: 3rem;
                    @include easeOut;
            
                    // hover effect
                    &:hover{
                        padding: 0.2rem 0.5rem;
                        background: $secondary-color;
                        color: set-text-color($secondary-color);
            
                        span{
                            color: set-text-color($secondary-color);
                        }
                    }
                }
            }
        }
    
        // icons
        footer#main-footer{
            height: 450px;
            // padding-top: 50px;
            div.icons a{
                display: block;
                width: 100%;
                padding: 2rem 0;
                border-bottom: 1px $secondary-color solid;
            }
            i.fab{
                // display:block;
                font-size: 2rem;
            }
            div#copyright{
                position: relative;
                display:block;
                margin-top: 12px;
            }
        }
        }