// Import All other scss files into this file
@import 'config';
@import 'menu';


// Initial Home Page Set Up
*{
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
}


body{
    @include background;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1, h2, h3{
    margin: 0;
    font-weight: 200;
    // attach class with '&'. This means that it won't look though each heading, instead only the ones that it's specifically attached to. 
    &.lg-heading{
        // 1 rem = 16px, 2 rem = 32px...so on. 6 = 96px
        font-size: 6rem; 
    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        // sass function lighten uses original color and then how much you want to lighten it.
        // rgba is used to make the lighten transparent
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a{
    color: #fff;
    text-decoration: none;
}

header{
    // Make header always stay on the top
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color: $secondary-color;
}

main{
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 80px);
    // we include icon
    .icons{
        margin-top: 1rem; 

        a{
            padding: 0.4rem;
            // we can include hover... same as a:hover
            &:hover{
                 color: $secondary-color;
                 @include easeOut;
            }
        }
    }
    // Lower the main title
    &#home{
        overflow: hidden;
        h1{
            // vh good way to keep things relative. 100vh is whole thing, so 20vh takes up only 20% of the page.
            margin-top: 20vh;
        }
    } 
}

// About Page 
.about-info{
    // using Grid formate, similar to flex
    display: grid;
    grid-gap: 30px;
    // the below gives us visual of how its going to look with class names
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
}

.bio-image{
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
}
.bio{
    grid-area: bio;
    font-size: 1.5rem;
}
.job-1{
    grid-area: job1
}
.job-2{
    grid-area: job2
}
.job-3{
    grid-area: job3
}
.job{
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;

    h3, h6{
        text-align: center;
    }
}

// Work Page
.projects{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr); // Displays each item 

    img{
        width:100%;
        border: 3px #fff solid;

        // hover effect
        &:hover{
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}


// Contact Page
.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div{
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        // hover effect
        &:hover{
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);

            span{
                color: set-text-color($secondary-color);
            }
        }
    }
}



// Button Styles 
.btn{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover{
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

// We are going to extend btn into btn dark and light
.btn-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light{
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}





// Footer
#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 80px;
    .icons{
        // margin-top: 1rem; 
        // width: 100%;
        a{
            display: inline-block;
            padding:0 10px;
            
            // we can include hover... same as a:hover
            &:hover{
                 color: $secondary-color;
                 @include easeOut;
            }
        }
    }
    
}

// Block Quote For Contact Page
blockquote {
    background:rgba(lighten($primary-color, 2), 0.5);
    border-left: 10px solid rgba($secondary-color, 0.379);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    color: $secondary-color;
  }
  blockquote:before {
    color: rgba($secondary-color, 0.379);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    // display: inline;
  }


// We Place the Mobile at the bottom
@import 'mobile';